<body class="swiper-body">
  <header class="swiper-header"></header>
  <div class="swiper-container swiper-container2 ">
    <div class="swiper-wrapper">
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 1</div>
    </div>
  </div>
  <div class="scroll-btns">
    <button class="scroll_btn scroll_btn_like">Like</button>
    <button class="scroll_btn scroll_btn_next">Next</button>
  </div>
  <div class="swiper-container swiper-container1">
    <div class="swiper-wrapper swiper-wrapper1">
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 1</div>
    </div>
  </div>

  <footer class="swiper-footer"></footer>
</body>
