/* body {
  position: relative;
}

.swiper-container {
  position: relative;
  width: 1336px;
  height: 1080px;
  left: 359px;
  top: 125px;
  background: gray;
} */

/* .swiper-wrapper {
  position: absolute;
  width: 672px;
  height: 672px;
  margin: 0 auto;
  left: 359px;
  top: 125px;
  background-color: red;
} */

.swiper-slide {
  /* position: absolute; */
  /* width: 672px; */
  height: 672px;
  /* left: 359px; */
  /* top: 125px; */
  background-color: red;
}
